

<h1>Flopnames</h1>
<h2></h2>
<div style="margin-bottom:30px; margin-top:30px">
  

  <button>Red</button>
  <button>Blue</button>
  <br>
  Current Team: Blue
</div>

<div class="gamegrid">
  <div>Battlefield Earth</div>
  <div>Howard the Duck</div>
  <div>Batman and Robin</div>

  <div>Catwoman</div>
  <div>Jack and Jill</div>
  <div>Cats</div>

  <div>Wing Commander</div>
  <div>Dudley Do-Right</div>
  <div>Twilight</div>

</div>


<button style="margin-top:10px" >Toggle Key</button>

<div class="keygrid">
  <div class="blue">o</div>
  <div class="neutral"></div>
  <div class="red">o</div>

  <div class="assassin">x</div>
  <div class="blue">o</div>
  <div class="neutral"></div>

  <div class="neutral"></div>
  <div class="neutral"></div>
  <div class="red">o</div>
</div>